@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a:hover {
    color: #2962ff;
    text-decoration: none;
    transition: color .6s ease;
    cursor: pointer;
}